<footer aria-label="Report footer" id="footer" class="card">
  <div class="row mx-0">
    <div class="col-sm-6 text-sm-start">
      <%
        const encodedUrlScanned = encodeURIComponent(urlScanned);
        const encodedVersionNumber = encodeURIComponent(phAppVersion);
    
        // Use %0A for line breaks in the body
        const mailtoAddress = `oobee@wogaa.gov.sg`;
        const mailtoSubject = encodeURIComponent(`Support Request - Oobee Version ${phAppVersion}`);
        const mailtoBody = encodeURIComponent(`URL Scanned: ${urlScanned}\nVersion: ${phAppVersion}`);
        const feedbackEmail = `mailto:${mailtoAddress}?subject=${mailtoSubject}&body=${mailtoBody}`;
      %>
    
        <a href="<%=feedbackEmail%>" aria-label="Send feedback to <%=mailtoAddress%>" target="_blank">Help us improve</a>
        <hr class="d-sm-none" />
    </div>
    <div class="col-sm-6 text-sm-end">
      Created by
      <a href="https://go.gov.sg/a11y" target="_blank">GovTech Accessibility Enabling Team</a> |
      <a href="https://go.gov.sg/oobee-report-third-party-licenses" target="_blank">Third-Party Licenses</a>
    </div>
  </div>
</footer>